body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: verdana; }

.container {
  width: 100%;
  margin-left: auto;
  background-color: #f1f1f1;
  margin-right: auto;
  height: 6000px;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.buy-now {
  width: 100%;
  background-color: #fff;
  padding: 5px; }

.close {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 40px;
  height: 40px; }

.select-size {
  font-weight: bold;
  margin-bottom: 10px;
  display: block; }

.sticky {
  bottom: 0;
  position: -webkit-sticky;
  position: sticky; }

.button__wrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px; }

.button {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #000;
  color: #fff;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px; }
  .button.disabled {
    background-color: #ebebeb;
    color: #b7b7b7; }

.add-to-cart {
  width: 100%;
  padding: 5px 0;
  background-color: #fff;
  top: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .sizes:before, .sizes:after {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    content: "";
    width: 5px; }

.size {
  font-size: 18px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.size-label {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .size-label + .size-label {
    margin-left: 5px; }

.size-radio {
  position: absolute;
  z-index: -1; }
  .size-radio:checked + .radio-faux {
    background-color: #000;
    color: #fff; }

.radio-faux {
  width: 100%;
  background-color: #dcdcdc;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
  z-index: 10;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }
